*.o
*.d
debug*
tags*
*.swp
rtmp_1936
*.txt
gmon.out
*.log
*.flv
*.webm
*.mp4
*.pcm
branch_src_2018_01_19_back/
depend/bin/
depend/download/
depend/include/
depend/lib/
depend/share/
depend/tmp/
*_generated.h
log
tms*
*.264
*.265
*.aac
*.ts
git.sh
*.srt
obj
*.mp4
*.m4s
*.mpd
