*.o
*.d
debug*
tags*
trs*
*.swp
rtmp_1936
*.txt
gmon.out
*.log
*.flv
*.webm
*.mp4
*.pcm
media_center/media_center
media_node_discovery/media_node_discovery
branch_src_2018_01_19_back/
depend/bin/
depend/download/
depend/include/
depend/lib/
depend/share/
depend/tmp/
*_generated.h
log
